

html {
	width: 1152px;
	margin-left: auto;
	margin-right: auto;
}
header {
	height: 150px;
}
footer{
	width: 1152px;
	position: fixed;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
footer a{
	text-decoration: none;
	color: #000;
}

.spacer{
	margin-top: 20px;
}

hr {
	border-top: 1px solid #ccc;
}

.menu{
	text-align: left;
	list-style: none;
	display: inline;
	margin-left: 50px;
}
.menu a{
	text-decoration: none;
	color: #000;
	font-size: 25px;
}
.menu a:hover{
	color: #799312;
}
.menu li{
	border-right: 1px solid #ccc;
	display: inline-block;
	padding-left: 30px;
	padding-right: 30px;
}

.connexion{
	float: right;
}

.logo{
	text-align: center
}
.form{
	margin-top: 150px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.form input{
	display: inline-block;
}
label{
	width: 100px;
	display: inline-block;
}

.titre{
	width:672px;
	text-align: center;
	display: inline-block;
	font-family: 'La Belle Aurore', cursive;
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: normal;
	vertical-align: top;
}

.titre a{
	text-decoration: none;
}


/*Page login*/

.fieldLogin{
	margin-left: auto;
	margin-right: auto;
	width: 320px;
}
.fieldLogin label{
	display: inline-block;
	width: 130px;
}
.username, .password{
	display: inline-block;
}
.submit{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.main-col {
	width: 801px;
	display: inline-block;
	float: left;
	border-right: 1px solid #ccc;
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 25px;
	height:2000px;
}

.sidebar {
	width: 250px;
	padding: 10px;
	display: inline-block;
	float: right;
	margin-top: 13px;
}
.body{
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-block;
	float: left;	
}

.header{
	margin-bottom: 20px;
}