html {
	width: 1152px;
	margin-left: auto;
	margin-right: auto;
}
header {
	height: 150px;
}
footer{
	width: 1152px;
	position: fixed;
	bottom: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
}
footer a{
	text-decoration: none;
	color: #000;
}
hr {
	border-top: 1px solid #ccc;
}
.spacer{
	margin-top: 20px;
}


/*Page accueil*/

.menu{
	display: inline-block;
}
.menu li{
	display: inline-block;
	cursor: pointer;
	margin-left: 20px;
	font-size: 20px;
	text-align: center;
}
.menu li ul li{
	display: block;
	margin-left: -30px;
}
.menu li a{
	text-decoration: none;
	color: #000;
}
.menu li:hover, .menu li a:hover{
	color: red;
}
.menu li ul 
{
position: absolute;
margin-left: -45px;
width: 200px; 
left: -999em; 
}
.menu li ul li{
	padding-top: 10px;
	padding-bottom: 10px;
	background-color: white;
}
.menu li:hover ul ul, .menu li:hover ul ul ul
{
left: -999em;
}
.menu li:hover ul, .menu li li:hover ul, .menu li li li:hover ul
{
left: auto;
min-height:0;
}
.logo{
	display: inline-block;
}
.titre{
	width:672px;
	position: absolute;
	text-align: center;
	font-family: 'La Belle Aurore', cursive;
	font-size: 50px;
	margin-bottom: 20px;
	font-weight: normal;
	margin-left: 100px;
}

.titre a{
	text-decoration: none;
}
.connexion{
	display: inline-block;
	float: right;

}
.connexion a{
	text-decoration: none;
	font-size: 18px;
	display: block;
	color: black;
}
.search{
	width: 400px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 10px;
}
.form{
	margin-top: 150px;
	width: 300px;
	margin-left: auto;
	margin-right: auto;
}
.form input{
	display: inline-block;
}



/*Page login*/

.fieldLogin{
	margin-left: auto;
	margin-right: auto;
	width: 320px;
	border-radius: 10px;
}
.fieldLogin label{
	display: inline-block;
	width: 130px;
}
.username, .password{
	display: inline-block;
}
.submit{
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.main-col {
	width: 1152px;
	display: inline-block;
	float: left;
	/*border-right: 1px solid #ccc;*/
	padding: 10px;
	margin-bottom: 20px;
	margin-top: 25px;
	height:2000px;
}

.sidebar {
	width: 250px;
	padding: 10px;
	display: inline-block;
	float: right;
	margin-top: 13px;
}
.body{
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-block;
	float: left;	
}

.header{
	margin-bottom: 20px;
}

/*Page ajout utilisateur/Page modif utilisateur/Page suppr utilisateur*/

.spacerUser{
	margin-top: 5px;
}

.label{
	width: 150px;
	display: inline-block;
}

.userField{
	width: 350px;
	margin-right: auto;
	margin-left: auto;
	border-radius: 10px;
	padding-top: 15px;
	padding-bottom: 20px;
	padding-left: 20px;
}


.add_success{
	width: 750px;
	border-radius: 10px;
	background-color: #5cb85c;
	border-color: #4cae4c;
	margin-right: auto;
	margin-left: auto;
	text-align: center;
}

/*Page livres*/

.listLivres{
	width: 120px;
	border: 1px solid #000;
	border-radius: 10px;
	padding-left: 10px;
	padding-right: 10px;
	background-color: #ECEAE5;
}
.listLivres ul{
	list-style: none;
	display: block;
	margin-left: -40px;
}
.listLivres li{
	margin-top: 10px;
}
.listLivres ul a{
	text-decoration: none;
	color: #000;
}
.listLivres ul li a:hover{
	color: red;
}
.searchInput{
	width: 350px;
}