{% extends '::base_admin.html.twig' %}

{% block title %}
    Accueil Administrateur
{% endblock %}

{% block body %}
<h1>Vous êtes sur l'interface de d'administration de la bibliothèque</h1>
{% endblock %}